<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.test.mapper.LogintestMapper">

    <resultMap id="a" type="com.base.test.common.domain.Logintest">

    </resultMap>
    <select id="selectAll" resultMap="a">
        select *
         from logintest
    </select>
</mapper>
